{% extends "layout.html.jinja" %}

{% block middle %}
    <h2>Produkty</h2>
    <ul class="list-group">
    {% for product in products %}
        <li class="list-group-item"><a href="{{url_for('product', productId=product)}}">{{product}}</li>
    {% endfor %}
    </ul>
{% endblock middle %}